* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-size: 16px;
  font-family: 'Valley Sans', Arial, sans-serif;
}

h1 {
  background-color: darkblue;
  color: white;
  padding: 16px;
  text-align: center;
  width: 100%;
  clear: both;
}

main {
  max-width: 800px;
  margin: 20px auto;
  clear: both;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 1rem;
}

aside.box {
  width: 300px;
  margin: 40px auto;
  clear: both;
  border: 1px solid darkblue;
  padding: 15px;
  background-color: #ffffff;
  color: #333333;
  font-style: initial;
  position: relative;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

aside h2 {
  position: absolute;
  top: 40px;
  left: 150px;
}

footer {
  margin-top: 40px;
  border-top: 2px solid darkblue;
  text-align: center;
  clear: both;
}

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #eee;
  color: black;
}

.indent {
  padding-left: 2rem;
}